.message-Area {
  display: grid;
  min-height: 87vh;
  grid-template-rows: 90% 10%;
}

.message-Area ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.message-Area ul li {
  padding: 2px;
}
