.bubble {
  width: 100%;
  height: max-content;
  min-height: 40px;
}
.message {
  background-color: #a4dfff;
  padding: 5px;
  display: grid;
  max-width: max-content;
  grid-template-rows: 1fr 100%;
}

.message .text {
  font-size: 13px;
  max-width: 400px;
}

.message .date {
  color: rgba(0, 0, 0, 0.52);
  text-align: right;
  font-size: 11px;
}

.partner {
  border-radius: 8px 8px 8px 0;
}

.user {
  border-radius: 8px 8px 0 8px;
  background-color: #0f9de9;
  float: right;
}
