.message {
  background-color: #a4dfff;
  padding: 5px;
  display: grid;
  grid-template-rows: 1fr 100%;
  max-width: max-content;
}

.message .text {
  font-size: 13px;
  max-width: 400px;
  max-width: max-content;
}

.message .date {
  color: rgba(0, 0, 0, 0.52);
  text-align: right;
  font-size: 11px;
}

.partner {
  border-radius: 5px 5px 5px 0;
}

.user {
  border-radius: 5px 5px 0 5px;
  background-color: #0f9de9;
}
